
### folders
.idea
test
node_modules

### files
suman.conf.js
.gitignore
.npmignore
package-lock.json
yarn.lock
.babelrc
.travis.yml

### matching files
*.sh
*.md
*.txt
*.log
*.ts
*.json

### negation
!*.d.ts
